@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;              
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: block;
  background-color: #ffffff;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


.ql-editor img {
  max-width: 300px;   /* limit image width (adjust as needed) */
  width: 60%;        /* makes it responsive up to 400px */
  height: auto;       /* keep aspect ratio */
  display: block;     /* allows centering */
  margin: 1rem auto;  /* center horizontally */
  border-radius: 6px;/* optional: rounded corners */
}

.prose ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-top:1rem;
}

.prose ol {
  list-style-type: decimal;
  margin-left: 2rem;
  margin-top:1rem;
}

.prose img {
  display: block;
  margin: 1.5rem auto;
  max-width: 100%;
  border-radius: 0.5rem;
}

.prose p {
  margin-bottom: 1rem;
  text-align: justify;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}
